# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Virtual environments
venv/
env/
.venv/
.env/

# VSCode
.vscode/

# Mac system files
.DS_Store

# Node dependencies
node_modules/
tailwind_src/
package.json
package-lock.json

# Tailwind build output (optional if you rebuild on deploy)
app/static/css/output.css

# Logs
*.log

# Ignore environment variables if you keep them in a file (optional)
.env

# Ignore JS files only in build or dist folders
build/*.js
dist/*.js